/* Color pallet */
:root {
    --background-color: #202026;
    --background-secondary: #42424F;
    --blue-primary: #5BB9F0;
    --blue-secundary: #234A8C;
    --background-blue: #1D2457;
    --font-color: #F0F0F0;
}

